<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="container">
  <app-header></app-header>
  <app-navbar></app-navbar>
  <!-- <app-oneway></app-oneway> -->
  <!-- <app-property></app-property> -->
  <!-- <app-classbind></app-classbind> -->
  <!-- <app-eventbind></app-eventbind> -->
  <!-- <app-stylebind></app-stylebind> -->
  <!-- <app-twoway></app-twoway> -->

  <br>
  <router-outlet></router-outlet>


</body>

</html>